.filtered-list-container {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: inherit;
    user-select: none;
    position: relative;
}

.filtered-list-container:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    z-index: -1;
    backdrop-filter: blur(2px);
    border-radius: 1rem;
}

.icon-left {
    margin-right: 0.5rem;
}

.input-container {
    display: flex;
    align-items: center;
    padding: 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background-color: black;
}

.input-container input {
    flex-grow: 1;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 16px;
    color: white;
}

.input-container svg {
    width: 20px;
    height: 20px;
    color: white;
}

.input-container .clear-button {
    position: absolute;
    right: 1rem;
    width: 16px;
    height: 16px;
    cursor: pointer;
    fill: blue;
}

.divider {
    height: 1px;
    background-color: #676767;
}

.tabs {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    padding: 0.5rem 0.75rem;
    background-color: black;
}

.tabs .tab-button {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    background: none;
    border: none;
    cursor: pointer;
    color: gray;
    font-size: 16px;
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    transition: background-color 0.3s, color 0.3s;
}

.tabs .tab-button svg {
    fill: gray;
    width: 18px;
    height: 18px;
}

.tabs .tab-button.active {
    color: white;
    font-weight: bold;
    cursor: default;
}

.tabs .tab-button.active svg {
    fill: white;
}

.tabs .tab-button:disabled {
    cursor: default;
}

.tabs .tab-button:hover:not(:disabled) {
    background-color: #676767;
    color: white;
}

.list-container {
    padding: 0.5rem 0.75rem;
    overflow-y: auto;
    background-color: transparent;
}

.list-item {
    display: flex;
    width: 100%;
    gap: 0.75rem;
    align-items: center;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 0.5rem;
    transition: background-color 0.3s;
}

.list-item:hover {
    background-color: #676767;
}

.icon-button {
    outline: none;
    border: none;
    background: none;
    display: flex;
    align-content: center;
    height: max-content;
    cursor: pointer;
}

.icon-button svg {
    width: 18px;
    height: 18px;
}